body {
  background: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 32px;
  letter-spacing: 1px;
}

.main.container {
  background: #3a3a3a;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  transform: scale(1); /* removed 0.9 for full size */
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 26px;
  text-align: right;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background: #2b2b2b;
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 65px;
  background: #3b3b3b;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.54);
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

button:hover {
  background: #555;
}

button:active {
  transform: scale(0.97);
}

#clearbtn {
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: border 0.2s;
}


#clearbtn:hover {
  background-color: #3b3b3b;
  border: solid 1px  rgba(255, 255, 255, 0.54);
}


